{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">
    <!---h1 class="text-center logo my-4">Fellowship Application</h1--->

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{% trans "Password Reset" %}</h3>
                    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <!--{{ form.as_p }}-->
                        <input type="submit"  class="btn btn-success" value="{% trans 'Reset My Password' %}" />

                    </form>
                </div>
            
            </div>
        </div>
    </div>
</div>

{% endblock %}