{% load widget_tweaks %}

{% if form.non_field_errors %}
{% endif %}

{% for field in form %}
    {% if field.label != 'Password' %}
    <b>{{ field.label }}</b>
        <!--div class="form-group"-->
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">   
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control-file is-valid" %}

                    <!--{% render_field field class="form-control-file is-valid"|append_attr: type="text" placeholder="Category" readonly="readonly"%} -->
                {% endif %}
            {% else %}
                        
                <!--{{ field.value }}-->

                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">
                    {{ field.help_text|safe }}
                </small>
            {% endif %}
        <!--/div-->
    {% endif %}
{% endfor %}