{% extends 'base_sponsor.html' %}


{% block content %}
<a href="{% url 'sponsor_add'  %}">+ Add</a>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10 col-sm-8">
            <!--div class="card"-->
                <!--div class="card-body"-->
                    <table class="table table-striped table-md">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>Sent</th>
                                <th>Received</th>
                                <th>ref_1</th>
                            </tr>
                            {% for ref in refs %}
                                <tr>
                                    <td>{{ ref.name }} </td>
                                    <td>{{ ref.email }} </td>
                                    <td>{{ ref.id }} </td>
                                    <td>{{ ref.user.id }} </td>
                                    <td>{{ ref.sent }} </td>
                                    <td>{{ ref.received }} </td>
                                    <td>{{ user.ref_1.id }} </td>

                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
