{% extends 'base_accounts.html' %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Welcom</h4>
                        <a class="btn btn-info" href="{% url 'profile_edit'  %}">Start</a>
                    
                    </div>
  
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
